# Python virtual environment
.venv/
venv/
ENV/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
client_secret_*.json
nth*.json
credentials/
credentials/token.json

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local development settings
.DS_Store
Thumbs.db

# data
data/
